.filter_detail__label
    p
        margin: 0

.filter_detail_box
    margin-top: 20px
    justify-content: right


.filter_detail_submit
    display: flex
    justify-content: flex-end

